.container{
  display: flex;
  align-items: center;
  gap: 100px;
}

.item{
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 400px;
  height: 500px;
}

.title{
  font-size: 72px;
  background: linear-gradient(to bottom,#194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc{
  font-size: 24px;
  font-weight: 300;
}
